| Operation                   | Equivalent | Result                                        |
|-----------------------------|------------|-----------------------------------------------|
| `len(s)`                    |            | Number of elements in set `s` (cardinality)   |
| `x in s`                    |            | Test `x` for membership in `s`               |
| `x not in s`                |            | Test `x` for non-membership in `s`           |
| `s.issubset(t)`             | `s <= t`   | Test whether every element in `s` is in `t`  |
| `s.issuperset(t)`           | `s >= t`   | Test whether every element in `t` is in `s`  |
| `s.union(t)`                | `s  \| t`    | New set with elements from both `s` and `t`  |
| `s.intersection(t)`         | `s & t`    | New set with elements common to `s` and `t` |
| `s.difference(t)`           | `s - t`    | New set with elements in `s` but not in `t`  |
| `s.symmetric_difference(t)` | `s ^ t`    | New set with elements in either `s` or `t` but not both |
| `s.copy()`                  |            | New set with a shallow copy of `s`           |

In [1]:
s = set([1,2,3,4])
t= set([3,4,5,6])

In [2]:
print(s in t)

False

In [4]:
s.issubset(t)

False

In [5]:
print(s <= t)

False

In [7]:
s.issuperset(t)

False

In [8]:
print(s >= t)

False

In [6]:
s.union(t)

{1, 2, 3, 4, 5, 6}

In [9]:
print(s | t)

{1, 2, 3, 4, 5, 6}

In [10]:
s.intersection(t)

{3, 4}

In [11]:
s & t

{3, 4}

In [12]:
s.difference(t)

{1, 2}

In [14]:
t - s

{5, 6}

In [15]:
s.symmetric_difference(t)

{1, 2, 5, 6}

In [16]:
s ^ t

{1, 2, 5, 6}

| Operation                        | Equivalent | Result                                                  |
|----------------------------------|------------|---------------------------------------------------------|
| `s.update(t)`                    | `s \|= t`   | Return set `s` with elements added from `t`             |
| `s.intersection_update(t)`      | `s &= t`   | Return set `s` keeping only elements also found in `t` |
| `s.difference_update(t)`        | `s -= t`   | Return set `s` after removing elements found in `t`    |
| `s.symmetric_difference_update(t)` | `s ^= t` | Return set `s` with elements from `s` or `t` but not both |
| `s.add(x)`                       |            | Add element `x` to set `s`                              |
| `s.remove(x)`                    |            | Remove `x` from set `s`; raises `KeyError` if not present |
| `s.discard(x)`                   |            | Remove `x` from set `s` if present                       |
| `s.pop()`                        |            | Remove and return an arbitrary element from `s`; raises `KeyError` if empty |
| `s.clear()`                      |            | Remove all elements from set `s`                        |

In [19]:
s.update(t) # s |= t
print(s)

{1, 2, 3, 4, 5, 6}

In [20]:
s |= t

In [21]:
s = set([1,2,3,4])
t= set([3,4,5,6])

In [22]:
s.difference_update(t)

In [23]:
print(s)

{1, 2}

In [24]:
s.symmetric_difference_update(t)

In [25]:
print(s)

{1, 2, 3, 4, 5, 6}

In [26]:
s.add(10)

In [27]:
print(s)

{1, 2, 3, 4, 5, 6, 10}

In [29]:
s.remove(10)
print(s)

{1, 2, 3, 4, 5, 6}

In [33]:
try:
    s.remove(10) # raises KeyError if not present
except KeyError as e:
    print(f"Error: {e}")
    print(s)

Error: 10
{1, 2, 3, 4, 5, 6}

In [36]:
x=10
s.discard(x) # removes x from set s if present; no error
print(s)

{1, 2, 3, 4, 5, 6}

In [38]:
print(s.pop()) # remove and return an arbitrary element from s; raises KeyError if empty

2

In [39]:
s.clear() # remove all elements from set s

In [41]:
try:
    s.pop() # raises KeyError if empty
except KeyError as e:
    print(f"Error: {e}")
    print(s)

Error: 'pop from an empty set'
set()